batch-jobs-examples/src/main/mule/batch-jobs-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="c8afed2e-b2cf-4824-ba0d-a15b8a9bf38f" >
		<file:connection />
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="95886982-7ebb-4ab2-984c-c7c698d60c5e" >
		<file:connection workingDir="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\batch-aggregator" />
	</file:config>
	<file:config name="failed-records-file-directory" doc:name="File Config" doc:id="f696e2d0-cece-46da-bae9-11f139cf9e3a" >
		<file:connection workingDir="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\Failed-records" />
	</file:config>
	<file:config name="File_Config4" doc:name="File Config" doc:id="740fa358-38de-43b2-a37c-f764b430065a" >
		<file:connection workingDir="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\batch-after-batch-example\output" />
	</file:config>
	<file:config name="batch-after-batch-faile-records" doc:name="File Config" doc:id="31ae2735-0dc6-43f2-bfe6-03267b9168b8" >
		<file:connection workingDir="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\batch-after-batch-example\error" />
	</file:config>
	<file:config name="batch-to-batch-error" doc:name="File Config" doc:id="5aff8824-49dc-46c7-9d1f-b4ede1a4394b" >
		<file:connection workingDir="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\batch-after-batch-example\error" />
	</file:config>
	<flow name="batch-jobs-examplesFlow" doc:id="00835603-edbd-4a1b-a6a0-b4a765e100e7" >
		<file:listener doc:name="On New or Updated File" doc:id="d82d9b19-1622-4d91-80c1-7f1f196b2ba8" config-ref="File_Config" directory="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\batch-after-batch-example\input" moveToDirectory="C:\Users\002VNS744\Desktop\Mulesoft notes\important connectors\batch\error-handling\batch-after-batch-example\Archives" renameTo="#['Bkp-input-file' ++ (now() as String {format : 'yyyy-MM-dd-hh-mm-ss'})++ '.csv']">
			<scheduling-strategy>
				<fixed-frequency frequency="100" />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.csv" directories="EXCLUDE" symLinks="EXCLUDE" />
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="3303d547-e4b0-402d-a607-cc0e494ad866" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="bf24a40b-a23a-4586-951c-264eb219e052" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map (item,index)->
{
	Name: item.Name,
	Age: item.Age,
	Phone_No: item.Phone_No,
	Country: item.Country
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch-jobs-examplesBatch_Job" doc:id="443c7d9b-fafc-446f-8afb-3e8065c0c889" blockSize="4" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="270b7f15-5e24-466d-a4aa-6aca33ad8a1d" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger" doc:id="7e26fe43-ddac-417c-b57c-8e00f940bbb1" message="#[payload]" />
					<ee:transform doc:name="Transform Message" doc:id="44e4572b-0e1e-4823-ad98-6b7d8ef7a624" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---

{
	 Name: payload.Name as String,
	 Age: payload.Age default null,
	 Phone_No: (payload.Phone_No as Number)/2,
	 Country: payload.Country default "",
	 Details: payload.Name ++ "-" ++ payload.Phone_No default ""
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="11e08547-cba3-424a-93b3-c181e266dc04" size="4">
						<logger level="INFO" doc:name="Logger" doc:id="5a9c8d12-6fda-4cfa-87de-1e9696199165" message='"Aggregator Started"'/>
						<ee:transform doc:name="Transform Message" doc:id="8ee3a2cd-c149-4911-809f-e9a15ff48569" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="67ad1c0f-b966-45aa-88b9-c4c7c235fff1" config-ref="File_Config4" path="#['batch-after-batch' ++ (now() as String {format: 'yyyy-MM-dd-hh-mm-ss'})++'-'++(random()*1000)++'.csv']" mode="CREATE_NEW"/>
						<logger level="INFO" doc:name="Logger" doc:id="01eb2326-4be9-4e32-a04a-96cf3ce3e127" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="11bf5d08-1511-4770-85d3-b135e5d0c22c" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="30b94981-9e4f-475e-98fe-3ddccb404afd" />
					<ee:transform doc:name="Transform Message" doc:id="fd86735a-bb26-4407-9317-d231c61fdf0e" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	Name: payload.Name,
	Age: payload.Age,
	Phone: payload.Phone_No,
	Country: payload.Country,
	Details: payload.Details
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="44a6e147-d567-4aec-93d1-bb9da6b0a56b" size="4">
						<ee:transform doc:name="Transform Message" doc:id="3ad2108e-5314-43c6-aca9-9c3298eaf2c0" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="c2bdbc64-9d1a-40fb-814f-328aa1a2e2fc" config-ref="batch-to-batch-error" path="#[&quot;error-file&quot; ++ (now() as String {format : 'yyyy-MM-dd-hh-mm-ss'}) ++ '-' ++ (random()*1000)++ '.csv']"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="84cecaaa-6df2-408f-8f91-6c54f54571a4" message='"Batch Job Completed"'/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
